

# Directories #
/build/
/bin/
target/
 
# OS Files #
.DS_Store
  
*.class
 
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
      
# Eclipse #
/metadata/
.project
.metadata
.classpath
.settings/
.loadpath
 
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
local.properties
/src/main/resources/rebel.xml

*.MF
*.xml
*.png
*.ttf




