@charset "UTF-8";

/* 타입 연산자 */

pre {
    text-align: center;
}


/* id 선택자 */

#sid01 {
    color: red;
}

#sid02 {
    color: blue;
}

#sid03 {
    background-color: green;
    color: white;
}


/* class 선택자 */

.scls {
    color: green;
}


/*
*{
	text-align: right;
}
*/


/* 자식 선택자 */

#atc>p {
    color: pink;
}

#atc>div>p {
    background-color: gold;
}


/* 인접 선택자 */

h3+b {
    color: silver;
}

span+b {
    background-color: purple;
}

p[title] {
    background-color: yellow;
}

p[title='b'] {
    color: red;
}


/* 가상 클래스 선택자 */

a:link {
    color: green;
    font-size: 20pt;
}

a:visited {
    color: aqua;
    font-size: 15pt;
}

a:hover {
    background-color: hotpink;
    font-family: fantasy;
    font-size: 25pt;
}

a:active {
    color: red;
}

input:checked {
    width: 100px;
    height: 100px;
}


/* 종속 선택자 */

li.scls01 {
    background-color: lime;
}

li.scls02#sidul01 {
    font-size: 25pt;
}


/* 하위 선택자 */

div span {
    background: maroon;
    color: white;
}


/* 그룹 선택자 */

h3,
p,
pre,
strong {
    color: Chocolate;
}